[submodule "bundle/vim-hashicorp-tools"]
	path = bundle/vim-hashicorp-tools
	url = https://github.com/hashivim/vim-hashicorp-tools.git
[submodule "bundle/vim-vaultproject"]
	path = bundle/vim-vaultproject
	url = https://github.com/hashivim/vim-vaultproject.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
